<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body class = "chart_body">  
  <div>
  <canvas id="myChart" class = 'chart'></canvas>
</div>
 <script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      color: 'white',
    }
  };
</script>
 <script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
  function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}
  
</script>

 
</body>