<body class="home">
  <div class="control">
    <a class="btn btn-primary" href="/control/turnOn" role="button">Turn On</a>
    <a class="btn btn-primary" href="/control/turnOff" role="button">Turn Off</a>

  </div>
</body>