<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Temperature</th>
    </tr>
  </thead>
  <tbody>
    {{#each pageData}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.dateTime}}</td>
      <td>{{this.temperature}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
